$gendernaut-timeline-arrow-width: 32px;

.gendernaut-view-timeline {
  & &__container {
    position: relative;
    border: 1px solid #888;
  }

  & &__arrow {
    position: absolute;
    z-index: 10;
    height: 100%;
    width: $gendernaut-timeline-arrow-width;
    line-height: 100%;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;

    .gendernaut-icon {
      width: 75%;
      opacity: 0.25;
    }

    &:hover {
      .gendernaut-icon {
        opacity: 75;
      }
    }

    &_left {
      left: 0;
      background-image: linear-gradient(to right, rgba(255,255,255,1), rgba(255,255,255,0));
    }

    &_right {
      right: 0;
      background-image: linear-gradient(to left, rgba(255,255,255,1), rgba(255,255,255,0));
    }
  }

  $gendernaut-timeline-item-height: 248px;
  $gendernaut-timeline-max-height-percent: 0.8;
  $gendernaut-timeline-max-height: $gendernaut-timeline-max-height-percent * 100vh;

  & &__items {
    display: flex;
    min-height: $gendernaut-timeline-item-height;
    max-height: $gendernaut-timeline-max-height;
    overflow: hidden;
    scroll-behavior: smooth; // En Safari no funciona per això
    //padding: 0 100px;

    &:focus-within {
      background-color: #eee;
    }

    .gendernaut-timeline-year {
      // Si fem flexbox column i wrap l'element no creix d'amplada, així que uso això
      // https://stackoverflow.com/questions/33891709/when-flexbox-items-wrap-in-column-mode-container-does-not-grow-its-width/55751683#55751683
      display: inline-grid;
      grid-auto-flow: column;
      grid-template-rows: repeat(2, auto);

      @media (max-height: $gendernaut-timeline-item-height*2/$gendernaut-timeline-max-height-percent) {
        grid-template-rows: repeat(1, auto);
      }

      &.hidden {
        display: none;
      }

      h2 {
        padding: 10px;
        font-size: 2rem;
        font-weight: bold;
        color: #888;
        user-select: none;
        width: 220px;
        height: 220px;
        margin-bottom: 10px;
        margin-top: 10px;
      }

      .gendernaut-timeline-item {
        height: 220px;
        margin: 10px;
        border: 1px solid #444;
        position: relative;
        box-sizing: content-box;

        &:after {
          content: "";
          display: block;
          padding-bottom: 100%;
        }

        &__content {
          position: absolute;
          width: 100%;
          height: 100%;
          user-select: none;
          overflow: hidden;

          .gendernaut-timeline-item__title {
            background-color: rgba(255,255,255,0.8);
            display: inline-block;
            position: absolute;
            bottom: 0;
            width: 100%;
            max-height: 24px;
            padding: 5px;
            transition: max-height 1s linear;
          }

          &:hover {
            .gendernaut-timeline-item__title {
              max-height: 220px;
            }
          }
        }

        &__types {
          position: absolute;
          left: calc(100% + 3px);

          .gendernaut-timeline-item__type {
            width: 8px;
            height: 20px;
            margin-top: 4px;
          }
        }
      }
    }
  }

  & &__map {
    display: flex;
    position: relative;

    .gendernaut-view-timeline__map_item {
      flex-grow: 1;
      text-align: center;
      position: relative;

      &:last-child {
        display: block ! important;
      }

      &:before {
        content: "";
        width: 1px;
        height: 10px;
        background-color: #000;
        position: absolute;
        top: -5px;
        left: 50%;
      }
    }

    #gendernaut-view-timeline__map_pointer {
      position: absolute;
      top: -8px;
      width: 16px;
      height: 16px;
      background-color: #fff;
      border: 1px solid #000;
      border-radius: 8px;
    }

    // Per mostrar només un any cada X si son molts
    @mixin show_one_each($one_each) {
      &.show_one_each_#{$one_each} {
        @for $i from 1 to $one_each {
          .gendernaut-view-timeline__map_item:nth-child(#{$one_each}n + #{$i+1}) {
            display: none;
          }
        }
      }
    }

    @for $i from 2 to 16 {
      @include show_one_each($i);
    }
  }
}
